/*Box sizing to all elements*/
* {
    box-sizing: border-box;
}

/*Styles for all slideshow containers*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

/*Styling for prev and next buttons*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*next button styling*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Hover styling*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Slide number text styling*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/*dot indicators style*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*Animation styles for fading slides*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*keyframes animation for fading */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}